# coding: utf-8

"""
    Data Services Cloud Console API

    Data Services Cloud Console API  # noqa: E501

    OpenAPI spec version: 1.2.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from greenlake-data-services.api_client import ApiClient


class HostInitiatorsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def device_type2_get_all_initiators(self, system_id, **kwargs):  # noqa: E501
        """Get all nimble initiators details by Nimble / Alletra 6K  # noqa: E501

        Get all nimble initiators details by Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_all_initiators(system_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :param str filter: Lucene query to filter initiators by Key.
        :param str sort: oData query to sort initiators resource by Key.
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleInitiatorsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_get_all_initiators_with_http_info(system_id, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_get_all_initiators_with_http_info(system_id, **kwargs)  # noqa: E501
            return data

    def device_type2_get_all_initiators_with_http_info(self, system_id, **kwargs):  # noqa: E501
        """Get all nimble initiators details by Nimble / Alletra 6K  # noqa: E501

        Get all nimble initiators details by Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_all_initiators_with_http_info(system_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :param str filter: Lucene query to filter initiators by Key.
        :param str sort: oData query to sort initiators resource by Key.
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleInitiatorsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'limit', 'offset', 'filter', 'sort', 'select']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_get_all_initiators" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_get_all_initiators`")  # noqa: E501

        if 'limit' in params and params['limit'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `device_type2_get_all_initiators`, must be a value greater than or equal to `0`")  # noqa: E501
        if 'offset' in params and params['offset'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `device_type2_get_all_initiators`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'select' in params:
            query_params.append(('select', params['select']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/host-initiators', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NimbleInitiatorsList',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_get_initiators_by_id(self, system_id, host_initiator_id, **kwargs):  # noqa: E501
        """Get details of Nimble / Alletra 6K Nimble Initiators identified by {hostInitiatorId}  # noqa: E501

        Get details of Nimble / Alletra 6K Nimble Initiators identified by {hostInitiatorId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_initiators_by_id(system_id, host_initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str host_initiator_id: ID of the nimble initiator. A 42 digit hexadecimal number. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleInitiatorDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_get_initiators_by_id_with_http_info(system_id, host_initiator_id, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_get_initiators_by_id_with_http_info(system_id, host_initiator_id, **kwargs)  # noqa: E501
            return data

    def device_type2_get_initiators_by_id_with_http_info(self, system_id, host_initiator_id, **kwargs):  # noqa: E501
        """Get details of Nimble / Alletra 6K Nimble Initiators identified by {hostInitiatorId}  # noqa: E501

        Get details of Nimble / Alletra 6K Nimble Initiators identified by {hostInitiatorId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_initiators_by_id_with_http_info(system_id, host_initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str host_initiator_id: ID of the nimble initiator. A 42 digit hexadecimal number. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleInitiatorDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'host_initiator_id', 'select']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_get_initiators_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_get_initiators_by_id`")  # noqa: E501
        # verify the required parameter 'host_initiator_id' is set
        if ('host_initiator_id' not in params or
                params['host_initiator_id'] is None):
            raise ValueError("Missing the required parameter `host_initiator_id` when calling `device_type2_get_initiators_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501
        if 'host_initiator_id' in params:
            path_params['hostInitiatorId'] = params['host_initiator_id']  # noqa: E501

        query_params = []
        if 'select' in params:
            query_params.append(('select', params['select']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/host-initiators/{hostInitiatorId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NimbleInitiatorDetails',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_initiators_create(self, system_id, nimble_create_initiator_input, **kwargs):  # noqa: E501
        """Create Nimble / Alletra 6K nimble initiator in system identified by {systemId}  # noqa: E501

        Get all nimble initiators details by Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_initiators_create(system_id, nimble_create_initiator_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param NimbleCreateInitiatorInput nimble_create_initiator_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_initiators_create_with_http_info(system_id, nimble_create_initiator_input, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_initiators_create_with_http_info(system_id, nimble_create_initiator_input, **kwargs)  # noqa: E501
            return data

    def device_type2_initiators_create_with_http_info(self, system_id, nimble_create_initiator_input, **kwargs):  # noqa: E501
        """Create Nimble / Alletra 6K nimble initiator in system identified by {systemId}  # noqa: E501

        Get all nimble initiators details by Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_initiators_create_with_http_info(system_id, nimble_create_initiator_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param NimbleCreateInitiatorInput nimble_create_initiator_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'nimble_create_initiator_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_initiators_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_initiators_create`")  # noqa: E501
        # verify the required parameter 'nimble_create_initiator_input' is set
        if ('nimble_create_initiator_input' not in params or
                params['nimble_create_initiator_input'] is None):
            raise ValueError("Missing the required parameter `nimble_create_initiator_input` when calling `device_type2_initiators_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'nimble_create_initiator_input' in params:
            body_params = params['nimble_create_initiator_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/host-initiators', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_remove_initiators_by_id(self, system_id, host_initiator_id, **kwargs):  # noqa: E501
        """Remove Nimble Initiator identified by {hostInitiatorId} from Nimble / Alletra 6K  # noqa: E501

        Remove Nimble Initiator identified by {hostInitiatorId} from Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_remove_initiators_by_id(system_id, host_initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str host_initiator_id: Identifier of Host Initiator. A 42 digit hexadecimal number. (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_remove_initiators_by_id_with_http_info(system_id, host_initiator_id, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_remove_initiators_by_id_with_http_info(system_id, host_initiator_id, **kwargs)  # noqa: E501
            return data

    def device_type2_remove_initiators_by_id_with_http_info(self, system_id, host_initiator_id, **kwargs):  # noqa: E501
        """Remove Nimble Initiator identified by {hostInitiatorId} from Nimble / Alletra 6K  # noqa: E501

        Remove Nimble Initiator identified by {hostInitiatorId} from Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_remove_initiators_by_id_with_http_info(system_id, host_initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str host_initiator_id: Identifier of Host Initiator. A 42 digit hexadecimal number. (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'host_initiator_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_remove_initiators_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_remove_initiators_by_id`")  # noqa: E501
        # verify the required parameter 'host_initiator_id' is set
        if ('host_initiator_id' not in params or
                params['host_initiator_id'] is None):
            raise ValueError("Missing the required parameter `host_initiator_id` when calling `device_type2_remove_initiators_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501
        if 'host_initiator_id' in params:
            path_params['hostInitiatorId'] = params['host_initiator_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/host-initiators/{hostInitiatorId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_create(self, create_host_input, **kwargs):  # noqa: E501
        """Create a host  # noqa: E501

        Create a host  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_create(create_host_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param CreateHostInput create_host_input: (required)
        :return: HostObject
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_create_with_http_info(create_host_input, **kwargs)  # noqa: E501
        else:
            (data) = self.host_create_with_http_info(create_host_input, **kwargs)  # noqa: E501
            return data

    def host_create_with_http_info(self, create_host_input, **kwargs):  # noqa: E501
        """Create a host  # noqa: E501

        Create a host  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_create_with_http_info(create_host_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param CreateHostInput create_host_input: (required)
        :return: HostObject
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['create_host_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'create_host_input' is set
        if ('create_host_input' not in params or
                params['create_host_input'] is None):
            raise ValueError("Missing the required parameter `create_host_input` when calling `host_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_host_input' in params:
            body_params = params['create_host_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HostObject',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_delete(self, host_id, **kwargs):  # noqa: E501
        """Delete a host by {hostId}  # noqa: E501

        Delete a host by {hostId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_delete(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param bool force: Forceful delete option
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_delete_with_http_info(host_id, **kwargs)  # noqa: E501
        else:
            (data) = self.host_delete_with_http_info(host_id, **kwargs)  # noqa: E501
            return data

    def host_delete_with_http_info(self, host_id, **kwargs):  # noqa: E501
        """Delete a host by {hostId}  # noqa: E501

        Delete a host by {hostId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_delete_with_http_info(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param bool force: Forceful delete option
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['host_id', 'force']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'host_id' is set
        if ('host_id' not in params or
                params['host_id'] is None):
            raise ValueError("Missing the required parameter `host_id` when calling `host_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'host_id' in params:
            path_params['hostId'] = params['host_id']  # noqa: E501

        query_params = []
        if 'force' in params:
            query_params.append(('force', params['force']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators/{hostId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_get_by_id(self, host_id, **kwargs):  # noqa: E501
        """Get the host details by {hostId}  # noqa: E501

        Get the host details by {hostId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_get_by_id(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :return: HostDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_get_by_id_with_http_info(host_id, **kwargs)  # noqa: E501
        else:
            (data) = self.host_get_by_id_with_http_info(host_id, **kwargs)  # noqa: E501
            return data

    def host_get_by_id_with_http_info(self, host_id, **kwargs):  # noqa: E501
        """Get the host details by {hostId}  # noqa: E501

        Get the host details by {hostId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_get_by_id_with_http_info(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :return: HostDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['host_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_get_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'host_id' is set
        if ('host_id' not in params or
                params['host_id'] is None):
            raise ValueError("Missing the required parameter `host_id` when calling `host_get_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'host_id' in params:
            path_params['hostId'] = params['host_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators/{hostId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HostDetails',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_initiator_create(self, initiator_input, **kwargs):  # noqa: E501
        """Create initiator  # noqa: E501

        Create initiator  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_create(initiator_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param InitiatorInput initiator_input: (required)
        :return: Initiator
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_initiator_create_with_http_info(initiator_input, **kwargs)  # noqa: E501
        else:
            (data) = self.host_initiator_create_with_http_info(initiator_input, **kwargs)  # noqa: E501
            return data

    def host_initiator_create_with_http_info(self, initiator_input, **kwargs):  # noqa: E501
        """Create initiator  # noqa: E501

        Create initiator  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_create_with_http_info(initiator_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param InitiatorInput initiator_input: (required)
        :return: Initiator
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['initiator_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_initiator_create" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'initiator_input' is set
        if ('initiator_input' not in params or
                params['initiator_input'] is None):
            raise ValueError("Missing the required parameter `initiator_input` when calling `host_initiator_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'initiator_input' in params:
            body_params = params['initiator_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/initiators', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Initiator',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_initiator_delete(self, initiator_id, **kwargs):  # noqa: E501
        """Delete initiator by {initiatorId}  # noqa: E501

        Delete initiator by {initiatorId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_delete(initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str initiator_id: UID of SC Initiator. (required)
        :return: DeleteInitiator
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_initiator_delete_with_http_info(initiator_id, **kwargs)  # noqa: E501
        else:
            (data) = self.host_initiator_delete_with_http_info(initiator_id, **kwargs)  # noqa: E501
            return data

    def host_initiator_delete_with_http_info(self, initiator_id, **kwargs):  # noqa: E501
        """Delete initiator by {initiatorId}  # noqa: E501

        Delete initiator by {initiatorId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_delete_with_http_info(initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str initiator_id: UID of SC Initiator. (required)
        :return: DeleteInitiator
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['initiator_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_initiator_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'initiator_id' is set
        if ('initiator_id' not in params or
                params['initiator_id'] is None):
            raise ValueError("Missing the required parameter `initiator_id` when calling `host_initiator_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'initiator_id' in params:
            path_params['initiatorId'] = params['initiator_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/initiators/{initiatorId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='DeleteInitiator',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_initiator_get_by_id(self, initiator_id, **kwargs):  # noqa: E501
        """Get the initiator details by {initiatorId}  # noqa: E501

        Get the initiator details by {initiatorId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_get_by_id(initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str initiator_id: UID of SC Initiator. (required)
        :return: InitiatorDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_initiator_get_by_id_with_http_info(initiator_id, **kwargs)  # noqa: E501
        else:
            (data) = self.host_initiator_get_by_id_with_http_info(initiator_id, **kwargs)  # noqa: E501
            return data

    def host_initiator_get_by_id_with_http_info(self, initiator_id, **kwargs):  # noqa: E501
        """Get the initiator details by {initiatorId}  # noqa: E501

        Get the initiator details by {initiatorId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_get_by_id_with_http_info(initiator_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str initiator_id: UID of SC Initiator. (required)
        :return: InitiatorDetails
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['initiator_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_initiator_get_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'initiator_id' is set
        if ('initiator_id' not in params or
                params['initiator_id'] is None):
            raise ValueError("Missing the required parameter `initiator_id` when calling `host_initiator_get_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'initiator_id' in params:
            path_params['initiatorId'] = params['initiator_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/initiators/{initiatorId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InitiatorDetails',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_initiator_list(self, **kwargs):  # noqa: E501
        """Get the list of initiators  # noqa: E501

        Get the list of initiators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_list(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: oData query to filter hostservice by Key.
        :param str sort: oData query to sort hostservice by Key.
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :return: InitiatorList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_initiator_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.host_initiator_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def host_initiator_list_with_http_info(self, **kwargs):  # noqa: E501
        """Get the list of initiators  # noqa: E501

        Get the list of initiators  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_initiator_list_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: oData query to filter hostservice by Key.
        :param str sort: oData query to sort hostservice by Key.
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :return: InitiatorList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'sort', 'limit', 'offset']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_initiator_list" % key
                )
            params[key] = val
        del params['kwargs']

        if 'limit' in params and params['limit'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `host_initiator_list`, must be a value greater than or equal to `0`")  # noqa: E501
        if 'offset' in params and params['offset'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `host_initiator_list`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/initiators', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InitiatorList',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_list(self, **kwargs):  # noqa: E501
        """Get the list of hosts  # noqa: E501

        Get the list of hosts  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_list(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: oData query to filter hostservice by Key.
        :param str sort: oData query to sort hostservice by Key.
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :return: HostsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.host_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def host_list_with_http_info(self, **kwargs):  # noqa: E501
        """Get the list of hosts  # noqa: E501

        Get the list of hosts  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_list_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str filter: oData query to filter hostservice by Key.
        :param str sort: oData query to sort hostservice by Key.
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :return: HostsList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['filter', 'sort', 'limit', 'offset']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_list" % key
                )
            params[key] = val
        del params['kwargs']

        if 'limit' in params and params['limit'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `host_list`, must be a value greater than or equal to `0`")  # noqa: E501
        if 'offset' in params and params['offset'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `host_list`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HostsList',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_update_by_id(self, host_id, update_host_input, **kwargs):  # noqa: E501
        """Update Host by {hostId}  # noqa: E501

        Update host details by {hostId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_update_by_id(host_id, update_host_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param UpdateHostInput update_host_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_update_by_id_with_http_info(host_id, update_host_input, **kwargs)  # noqa: E501
        else:
            (data) = self.host_update_by_id_with_http_info(host_id, update_host_input, **kwargs)  # noqa: E501
            return data

    def host_update_by_id_with_http_info(self, host_id, update_host_input, **kwargs):  # noqa: E501
        """Update Host by {hostId}  # noqa: E501

        Update host details by {hostId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_update_by_id_with_http_info(host_id, update_host_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param UpdateHostInput update_host_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['host_id', 'update_host_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_update_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'host_id' is set
        if ('host_id' not in params or
                params['host_id'] is None):
            raise ValueError("Missing the required parameter `host_id` when calling `host_update_by_id`")  # noqa: E501
        # verify the required parameter 'update_host_input' is set
        if ('update_host_input' not in params or
                params['update_host_input'] is None):
            raise ValueError("Missing the required parameter `update_host_input` when calling `host_update_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'host_id' in params:
            path_params['hostId'] = params['host_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_host_input' in params:
            body_params = params['update_host_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators/{hostId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_volume_performance_history_get(self, host_id, **kwargs):  # noqa: E501
        """Get the volume performance history data associated with a host identified by {uid}  # noqa: E501

        Get the volume performance history data associated with a host identified by {uid}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_volume_performance_history_get(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :param str range: range will define start and end time in which query has to be made.
        :param int time_interval_min: It defines granularity in minutes.
        :param int top_volumes_count: The number of top volumes to be returned, by default it will be 5
        :return: HostStoragePerformanceHistory
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_volume_performance_history_get_with_http_info(host_id, **kwargs)  # noqa: E501
        else:
            (data) = self.host_volume_performance_history_get_with_http_info(host_id, **kwargs)  # noqa: E501
            return data

    def host_volume_performance_history_get_with_http_info(self, host_id, **kwargs):  # noqa: E501
        """Get the volume performance history data associated with a host identified by {uid}  # noqa: E501

        Get the volume performance history data associated with a host identified by {uid}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_volume_performance_history_get_with_http_info(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :param str range: range will define start and end time in which query has to be made.
        :param int time_interval_min: It defines granularity in minutes.
        :param int top_volumes_count: The number of top volumes to be returned, by default it will be 5
        :return: HostStoragePerformanceHistory
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['host_id', 'select', 'range', 'time_interval_min', 'top_volumes_count']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_volume_performance_history_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'host_id' is set
        if ('host_id' not in params or
                params['host_id'] is None):
            raise ValueError("Missing the required parameter `host_id` when calling `host_volume_performance_history_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'host_id' in params:
            path_params['hostId'] = params['host_id']  # noqa: E501

        query_params = []
        if 'select' in params:
            query_params.append(('select', params['select']))  # noqa: E501
        if 'range' in params:
            query_params.append(('range', params['range']))  # noqa: E501
        if 'time_interval_min' in params:
            query_params.append(('timeIntervalMin', params['time_interval_min']))  # noqa: E501
        if 'top_volumes_count' in params:
            query_params.append(('topVolumesCount', params['top_volumes_count']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators/{hostId}/storage-performance-history', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HostStoragePerformanceHistory',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def host_volumes_get(self, host_id, **kwargs):  # noqa: E501
        """Get details of volumes associated with a host identified by {uid}  # noqa: E501

        Get details of volumes associated with a host identified by {uid}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_volumes_get(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: HostStorageVolumes
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.host_volumes_get_with_http_info(host_id, **kwargs)  # noqa: E501
        else:
            (data) = self.host_volumes_get_with_http_info(host_id, **kwargs)  # noqa: E501
            return data

    def host_volumes_get_with_http_info(self, host_id, **kwargs):  # noqa: E501
        """Get details of volumes associated with a host identified by {uid}  # noqa: E501

        Get details of volumes associated with a host identified by {uid}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.host_volumes_get_with_http_info(host_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str host_id: Id of the SC Host. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: HostStorageVolumes
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['host_id', 'select']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method host_volumes_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'host_id' is set
        if ('host_id' not in params or
                params['host_id'] is None):
            raise ValueError("Missing the required parameter `host_id` when calling `host_volumes_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'host_id' in params:
            path_params['hostId'] = params['host_id']  # noqa: E501

        query_params = []
        if 'select' in params:
            query_params.append(('select', params['select']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/host-initiators/{hostId}/volumes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='HostStorageVolumes',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
