# coding: utf-8

"""
    Data Services Cloud Console API

    Data Services Cloud Console API  # noqa: E501

    OpenAPI spec version: 1.2.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from greenlake-data-services.api_client import ApiClient


class ProtectionTemplatesApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def device_type2_create_protection_template(self, system_id, nimble_create_protection_template_input, **kwargs):  # noqa: E501
        """Create protection template on Nimble / Alletra 6K in system identified by {systemId}  # noqa: E501

        Create protection template on Nimble / Alletra 6K in system identified by {systemId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_create_protection_template(system_id, nimble_create_protection_template_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param NimbleCreateProtectionTemplateInput nimble_create_protection_template_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_create_protection_template_with_http_info(system_id, nimble_create_protection_template_input, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_create_protection_template_with_http_info(system_id, nimble_create_protection_template_input, **kwargs)  # noqa: E501
            return data

    def device_type2_create_protection_template_with_http_info(self, system_id, nimble_create_protection_template_input, **kwargs):  # noqa: E501
        """Create protection template on Nimble / Alletra 6K in system identified by {systemId}  # noqa: E501

        Create protection template on Nimble / Alletra 6K in system identified by {systemId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_create_protection_template_with_http_info(system_id, nimble_create_protection_template_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param NimbleCreateProtectionTemplateInput nimble_create_protection_template_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'nimble_create_protection_template_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_create_protection_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_create_protection_template`")  # noqa: E501
        # verify the required parameter 'nimble_create_protection_template_input' is set
        if ('nimble_create_protection_template_input' not in params or
                params['nimble_create_protection_template_input'] is None):
            raise ValueError("Missing the required parameter `nimble_create_protection_template_input` when calling `device_type2_create_protection_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'nimble_create_protection_template_input' in params:
            body_params = params['nimble_create_protection_template_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/protection-templates', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_edit_protection_template(self, system_id, protection_template_id, nimble_edit_protection_template_input, **kwargs):  # noqa: E501
        """Edit details of Nimble / Alletra 6K Protection-templates identified by {protectionTemplateId}  # noqa: E501

        Edit  details of Nimble / Alletra 6K Protection-templates identified by {protectionTemplateId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_edit_protection_template(system_id, protection_template_id, nimble_edit_protection_template_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str protection_template_id: ID of the Protection Template. A 42 digit hexadecimal number. (required)
        :param NimbleEditProtectionTemplateInput nimble_edit_protection_template_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_edit_protection_template_with_http_info(system_id, protection_template_id, nimble_edit_protection_template_input, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_edit_protection_template_with_http_info(system_id, protection_template_id, nimble_edit_protection_template_input, **kwargs)  # noqa: E501
            return data

    def device_type2_edit_protection_template_with_http_info(self, system_id, protection_template_id, nimble_edit_protection_template_input, **kwargs):  # noqa: E501
        """Edit details of Nimble / Alletra 6K Protection-templates identified by {protectionTemplateId}  # noqa: E501

        Edit  details of Nimble / Alletra 6K Protection-templates identified by {protectionTemplateId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_edit_protection_template_with_http_info(system_id, protection_template_id, nimble_edit_protection_template_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str protection_template_id: ID of the Protection Template. A 42 digit hexadecimal number. (required)
        :param NimbleEditProtectionTemplateInput nimble_edit_protection_template_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'protection_template_id', 'nimble_edit_protection_template_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_edit_protection_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_edit_protection_template`")  # noqa: E501
        # verify the required parameter 'protection_template_id' is set
        if ('protection_template_id' not in params or
                params['protection_template_id'] is None):
            raise ValueError("Missing the required parameter `protection_template_id` when calling `device_type2_edit_protection_template`")  # noqa: E501
        # verify the required parameter 'nimble_edit_protection_template_input' is set
        if ('nimble_edit_protection_template_input' not in params or
                params['nimble_edit_protection_template_input'] is None):
            raise ValueError("Missing the required parameter `nimble_edit_protection_template_input` when calling `device_type2_edit_protection_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501
        if 'protection_template_id' in params:
            path_params['protectionTemplateId'] = params['protection_template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'nimble_edit_protection_template_input' in params:
            body_params = params['nimble_edit_protection_template_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/protection-templates/{protectionTemplateId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_get_all_protection_templates(self, system_id, **kwargs):  # noqa: E501
        """Get all protection-templates details by Nimble / Alletra 6K  # noqa: E501

        Get all protection-templates details by Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_all_protection_templates(system_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :param str filter: Lucene query to filter Protection Template  by Key.
        :param str sort: oData query to sort Protection Template  resource by Key.
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleProtectionTemplateList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_get_all_protection_templates_with_http_info(system_id, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_get_all_protection_templates_with_http_info(system_id, **kwargs)  # noqa: E501
            return data

    def device_type2_get_all_protection_templates_with_http_info(self, system_id, **kwargs):  # noqa: E501
        """Get all protection-templates details by Nimble / Alletra 6K  # noqa: E501

        Get all protection-templates details by Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_all_protection_templates_with_http_info(system_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param int limit: Number of items to return at a time
        :param int offset: The offset of the first item in the collection to return
        :param str filter: Lucene query to filter Protection Template  by Key.
        :param str sort: oData query to sort Protection Template  resource by Key.
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleProtectionTemplateList
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'limit', 'offset', 'filter', 'sort', 'select']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_get_all_protection_templates" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_get_all_protection_templates`")  # noqa: E501

        if 'limit' in params and params['limit'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `device_type2_get_all_protection_templates`, must be a value greater than or equal to `0`")  # noqa: E501
        if 'offset' in params and params['offset'] < 0:  # noqa: E501
            raise ValueError("Invalid value for parameter `offset` when calling `device_type2_get_all_protection_templates`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'filter' in params:
            query_params.append(('filter', params['filter']))  # noqa: E501
        if 'sort' in params:
            query_params.append(('sort', params['sort']))  # noqa: E501
        if 'select' in params:
            query_params.append(('select', params['select']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/protection-templates', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NimbleProtectionTemplateList',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_get_protection_template_by_id(self, system_id, protection_template_id, **kwargs):  # noqa: E501
        """Get details of Nimble / Alletra 6K protection-templates identified by {protectionTemplateId}  # noqa: E501

        Get details of Nimble / Alletra 6K protection-templates identified by {protectionTemplateId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_protection_template_by_id(system_id, protection_template_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str protection_template_id: ID of the Protection Template. A 42 digit hexadecimal number. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleProtectionTemplateDetailsWithRequestUri
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_get_protection_template_by_id_with_http_info(system_id, protection_template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_get_protection_template_by_id_with_http_info(system_id, protection_template_id, **kwargs)  # noqa: E501
            return data

    def device_type2_get_protection_template_by_id_with_http_info(self, system_id, protection_template_id, **kwargs):  # noqa: E501
        """Get details of Nimble / Alletra 6K protection-templates identified by {protectionTemplateId}  # noqa: E501

        Get details of Nimble / Alletra 6K protection-templates identified by {protectionTemplateId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_get_protection_template_by_id_with_http_info(system_id, protection_template_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str protection_template_id: ID of the Protection Template. A 42 digit hexadecimal number. (required)
        :param str select: Query to select only the required parameters, separated by . if nested
        :return: NimbleProtectionTemplateDetailsWithRequestUri
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'protection_template_id', 'select']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_get_protection_template_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_get_protection_template_by_id`")  # noqa: E501
        # verify the required parameter 'protection_template_id' is set
        if ('protection_template_id' not in params or
                params['protection_template_id'] is None):
            raise ValueError("Missing the required parameter `protection_template_id` when calling `device_type2_get_protection_template_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501
        if 'protection_template_id' in params:
            path_params['protectionTemplateId'] = params['protection_template_id']  # noqa: E501

        query_params = []
        if 'select' in params:
            query_params.append(('select', params['select']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/protection-templates/{protectionTemplateId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='NimbleProtectionTemplateDetailsWithRequestUri',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def device_type2_remove_protection_template(self, system_id, remove_protection_templates, **kwargs):  # noqa: E501
        """Remove protection templates for Nimble / Alletra 6K  # noqa: E501

        Remove protection templates for Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_remove_protection_template(system_id, remove_protection_templates, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param RemoveProtectionTemplates remove_protection_templates: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_remove_protection_template_with_http_info(system_id, remove_protection_templates, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_remove_protection_template_with_http_info(system_id, remove_protection_templates, **kwargs)  # noqa: E501
            return data

    def device_type2_remove_protection_template_with_http_info(self, system_id, remove_protection_templates, **kwargs):  # noqa: E501
        """Remove protection templates for Nimble / Alletra 6K  # noqa: E501

        Remove protection templates for Nimble / Alletra 6K  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_remove_protection_template_with_http_info(system_id, remove_protection_templates, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param RemoveProtectionTemplates remove_protection_templates: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'remove_protection_templates']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_remove_protection_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_remove_protection_template`")  # noqa: E501
        # verify the required parameter 'remove_protection_templates' is set
        if ('remove_protection_templates' not in params or
                params['remove_protection_templates'] is None):
            raise ValueError("Missing the required parameter `remove_protection_templates` when calling `device_type2_remove_protection_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'remove_protection_templates' in params:
            body_params = params['remove_protection_templates']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/protection-templates/remove', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
