# coding: utf-8

"""
    Data Services Cloud Console API

    Data Services Cloud Console API  # noqa: E501

    OpenAPI spec version: 1.2.0
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from greenlake-data-services.api_client import ApiClient


class RestorePointsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def device_type2_clone_action_on_snapshot_collections(self, system_id, snapshot_collection_id, nimble_clone_snapshot_collections_input, **kwargs):  # noqa: E501
        """Perform action clone Nimble / Alletra 6K on a snapshot collection identified by {snapshotCollectionId} in system identified by {systemId}  # noqa: E501

        Perform action clone Nimble / Alletra 6K on a snapshot collection identified by {snapshotCollectionId} in system identified by {systemId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_clone_action_on_snapshot_collections(system_id, snapshot_collection_id, nimble_clone_snapshot_collections_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str snapshot_collection_id: Identifier of snapshot Collection. A 42 digit hexadecimal number. (required)
        :param NimbleCloneSnapshotCollectionsInput nimble_clone_snapshot_collections_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.device_type2_clone_action_on_snapshot_collections_with_http_info(system_id, snapshot_collection_id, nimble_clone_snapshot_collections_input, **kwargs)  # noqa: E501
        else:
            (data) = self.device_type2_clone_action_on_snapshot_collections_with_http_info(system_id, snapshot_collection_id, nimble_clone_snapshot_collections_input, **kwargs)  # noqa: E501
            return data

    def device_type2_clone_action_on_snapshot_collections_with_http_info(self, system_id, snapshot_collection_id, nimble_clone_snapshot_collections_input, **kwargs):  # noqa: E501
        """Perform action clone Nimble / Alletra 6K on a snapshot collection identified by {snapshotCollectionId} in system identified by {systemId}  # noqa: E501

        Perform action clone Nimble / Alletra 6K on a snapshot collection identified by {snapshotCollectionId} in system identified by {systemId}  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.device_type2_clone_action_on_snapshot_collections_with_http_info(system_id, snapshot_collection_id, nimble_clone_snapshot_collections_input, async=True)
        >>> result = thread.get()

        :param async bool
        :param str system_id: ID of the storage system (required)
        :param str snapshot_collection_id: Identifier of snapshot Collection. A 42 digit hexadecimal number. (required)
        :param NimbleCloneSnapshotCollectionsInput nimble_clone_snapshot_collections_input: (required)
        :return: TaskResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['system_id', 'snapshot_collection_id', 'nimble_clone_snapshot_collections_input']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method device_type2_clone_action_on_snapshot_collections" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'system_id' is set
        if ('system_id' not in params or
                params['system_id'] is None):
            raise ValueError("Missing the required parameter `system_id` when calling `device_type2_clone_action_on_snapshot_collections`")  # noqa: E501
        # verify the required parameter 'snapshot_collection_id' is set
        if ('snapshot_collection_id' not in params or
                params['snapshot_collection_id'] is None):
            raise ValueError("Missing the required parameter `snapshot_collection_id` when calling `device_type2_clone_action_on_snapshot_collections`")  # noqa: E501
        # verify the required parameter 'nimble_clone_snapshot_collections_input' is set
        if ('nimble_clone_snapshot_collections_input' not in params or
                params['nimble_clone_snapshot_collections_input'] is None):
            raise ValueError("Missing the required parameter `nimble_clone_snapshot_collections_input` when calling `device_type2_clone_action_on_snapshot_collections`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'system_id' in params:
            path_params['systemId'] = params['system_id']  # noqa: E501
        if 'snapshot_collection_id' in params:
            path_params['snapshotCollectionId'] = params['snapshot_collection_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'nimble_clone_snapshot_collections_input' in params:
            body_params = params['nimble_clone_snapshot_collections_input']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['JWTAuth']  # noqa: E501

        return self.api_client.call_api(
            '/api/v1/storage-systems/device-type2/{systemId}/snapshot-collections/{snapshotCollectionId}/actions/clone', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TaskResponse',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
